/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bxslider
 *= require_tree .
 *= require_self
 */
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

body {
  position: relative;
  color: #fff;
  min-height: 100vh;
  background-color: #ddd;
  margin: 0;
  padding: 0 15px 15px 15px;
  text-shadow: 0px 0px 2px #000;
  line-height: 1.9;
  @include box_sizing;
}

a {
  text-decoration: none;
  &:hover {
    background-color: inherit;
  }
}

menu li {
  display: inline-block;
  list-style: none;
}

.bx-viewport {
  height: auto !important;
  padding-top: 10px;
}

.bx-clone {
  float: none;
}
.bx-wrapper {
  background-color: transparent;
  margin: 0px auto 0px;
  border: none;
  box-shadow: none;
}

.container {
  display: grid;
  grid-template-columns: 50% 1fr;
  @media (min-width: 892px){
    grid-template-columns: 33% 33% 1fr;
  }
  .item {
    position: relative;
    background: rgba(255,255,255,.96);
    border-left:4px dotted rgba(0,0,0,.15);
    border-right:4px dotted rgba(0,0,0,.15);
    box-shadow:0 4px 12px rgba(0,0,0,.2);
    padding: 2em;
    margin: 10px 5px;
    color: #65513f;
    box-sizing: border-box;
    height: 125px;
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.42, 0, 0.58, 1.0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.42, 0, 0.58, 1.0);
    -o-transition: -o-transform 0.1s cubic-bezier(0.42, 0, 0.58, 1.0);
    -ms-transition: -ms-transform 0.1s cubic-bezier(0.42, 0, 0.58, 1.0);
    transition: transform 0.1s cubic-bezier(0.42, 0, 0.58, 1.0);
    &:hover {
      -webkit-transform: scale(1.03);
      -moz-transform: scale(1.03);
      -o-transform: scale(1.03);
      -ms-transform: scale(1.03);
      transform: scale(1.03);
    }
    .item-link {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-indent:-999px;
      z-index: 2;
      opacity: 0;
    }
    .other-link {
      display: inline-block;
      position: relative;
      z-index: 3
    }
  }
  .tape{
    position: absolute;
    top: -0.75em;
    background-color: rgba(100,150,255,.5);
    border-left:2px dotted rgba(0,0,0,.15);
    border-right:2px dotted rgba(0,0,0,.15);
    box-shadow:0 0 5px rgba(0,0,0,0.2);
    padding: 0.25em 2em;
    color: #65513f;
    transform: rotate(-3deg);
  }
  .tapeT {
    left: 100px;
  }
  .tapeJ {
    left: 10px; 
  }
}

