/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bxslider
 *= require_tree .
 *= require_self
 */
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

* {
  margin: 0; 
  padding: 0;
  @include box_sizing;
}
#container {
  position: relative;
  width: 940px;		
}

#container:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}

#menu {
  position: relative;
  float: left;
  width: 100%;
  padding: 0 20px;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(255,255,255,.5), inset 0 -1px 0 rgba(0,0,0,.15), 0 1px 3px rgba(0,0,0,.15);
  background: #ccc; 
}

#menu, #menu ul {
  list-style: none;
}

#menu > li {
  float: left;
  position: relative;
  border-right: 1px solid rgba(0,0,0,.1);
  box-shadow: 1px 0 0 rgba(255,255,255,.25);
  perspective: 1000px;
  
}

#menu > li:first-child {
  border-left: 1px solid rgba(255,255,255,.25);
  box-shadow: -1px 0 0 rgba(0,0,0,.1), 1px 0 0 rgba(255,255,255,.25);
}

#menu a {
  display: block;
  position: relative;
  z-index: 10;
  padding: 13px 20px 13px 20px;
  text-decoration: none;
  color: rgba(75,75,75,1);
  line-height: 1;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: -.05em;
  background: transparent;		
  text-shadow: 0 1px 1px rgba(255,255,255,.9);
  transition: all .25s ease-in-out;

}

#menu > li:hover > a {
  background: #333;
  color: rgba(0,223,252,1);
  text-shadow: none;
}

#menu li ul  {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 200px;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background: transparent;
  overflow: hidden;
  transform-origin: 50% 0%;
}


#menu li:hover ul {
  
  padding: 15px 0;
  background: #333;
  opacity: 1;
  visibility: visible;
  box-shadow: 1px 1px 7px rgba(0,0,0,.5);
  animation-name: swingdown;
  animation-duration: 1s;
  animation-timing-function: ease;

}

@keyframes swingdown {
  0% {
    opacity: .99999;
    transform: rotateX(90deg);
  }

  30% {			
    transform: rotateX(-20deg) rotateY(5deg);
    animation-timing-function: ease-in-out;
  }

  65% {
    transform: rotateX(20deg) rotateY(-3deg);
    animation-timing-function: ease-in-out;
  }

  100% {
    transform: rotateX(0);
    animation-timing-function: ease-in-out;
  }
}

#menu li li a {
  padding-left: 15px;
  font-weight: 400;
  color: #ddd;
  text-shadow: none;
  border-top: dotted 1px transparent;
  border-bottom: dotted 1px transparent;
  transition: all .15s linear;
}

#menu li li a:hover {
  color: rgba(0,223,252,1);
  border-top: dotted 1px rgba(255,255,255,.15);
  border-bottom: dotted 1px rgba(255,255,255,.15);
  background: rgba(0,223,252,.02);
}

body {
  position: relative;
  color: #fff;
  min-height: 100vh;
  background-color: #ddd;
  margin: 0;
  padding: 0 15px 15px 15px;
  text-shadow: 0px 0px 2px #000;
  line-height: 1.9;
  @include box_sizing;
}

a {
  text-decoration: none;
  &:hover {
    background-color: inherit;
  }
}

.eduroom {
  text-align: center;
  font-size: 2.8em;
}

menu {
  margin-top: 5px;
  margin-bottom: 0px;
  height: 40px;
  padding: 0;
  li {
    list-style: none;
  }
}

.notice, .alert {
  display: none;
}

.bx-viewport {
  height: auto !important;
  padding-top: 10px;
}

.bx-clone {
  float: none;
}
.bx-wrapper {
  background-color: transparent;
  margin: 0px auto 0px;
  border: none;
  box-shadow: none;
}

.container {
  display: grid;
  grid-template-columns: 50% 1fr;
  @media (min-width: 892px){
    grid-template-columns: 33% 33% 1fr;
  }
  .item {
    position: relative;
    background: rgba(255,255,255,.96);
    border-left:4px dotted rgba(0,0,0,.15);
    border-right:4px dotted rgba(0,0,0,.15);
    box-shadow:0 4px 12px rgba(0,0,0,.2);
    padding: 2em;
    margin: 15px;
    color: #65513f;
    box-sizing: border-box;
    height: 125px;
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.42, 0, 0.58, 1.0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.42, 0, 0.58, 1.0);
    -o-transition: -o-transform 0.1s cubic-bezier(0.42, 0, 0.58, 1.0);
    -ms-transition: -ms-transform 0.1s cubic-bezier(0.42, 0, 0.58, 1.0);
    transition: transform 0.1s cubic-bezier(0.42, 0, 0.58, 1.0);
    &:hover {
      -webkit-transform: scale(1.03);
      -moz-transform: scale(1.03);
      -o-transform: scale(1.03);
      -ms-transform: scale(1.03);
      transform: scale(1.03);
    }
    .item-link {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-indent:-999px;
      z-index: 2;
      opacity: 0;
    }
    .other-link {
      display: inline-block;
      position: relative;
      z-index: 3;
    }
  }
  .tape{
    position: absolute;
    top: -0.75em;
    background-color: rgba(100,150,255,.5);
    border-left:2px dotted rgba(0,0,0,.15);
    border-right:2px dotted rgba(0,0,0,.15);
    box-shadow:0 0 5px rgba(0,0,0,0.2);
    padding: 0.25em 2em;
    color: #65513f;
    transform: rotate(-3deg);
  }
  .tapeT {
    left: 100px;
  }
  .tapeJ {
    left: 10px; 
  }
}

