/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

body {
  position: relative;
  color: #fff;
  min-height: 100vh;
  background-color: #ddd;
  margin: 0;
  padding: 0 15px 15px 15px;
  text-shadow: 0px 0px 2px #000;
  line-height: 1.9;
  @include box_sizing;
}

menu {
}

menu li {
  display: inline-block;
  list-style: none;
  a {
    text-decoration: none;
    color: white;
  }
}

.container {
  display: grid;
  grid-template-columns: 50% 1fr;
  @media (min-width: 768px){
    grid-template-columns: 33% 33% 1fr;
  }
  .item {
    position: relative;
    background: rgba(255,255,255,.96);
    border-left:4px dotted rgba(0,0,0,.15);
    border-right:4px dotted rgba(0,0,0,.15);
    box-shadow:0 4px 12px rgba(0,0,0,.2);
    padding: 2em;
    margin: 10px 5px;
    color: #65513f;
    box-sizing: border-box;
  }
  .tape{
    position: absolute;
    top: -0.75em;
    background-color: rgba(100,150,255,.5);
    border-left:2px dotted rgba(0,0,0,.15);
    border-right:2px dotted rgba(0,0,0,.15);
    box-shadow:0 0 5px rgba(0,0,0,0.2);
    padding: 0.25em 2em;
    color: #65513f;
    transform: rotate(-3deg);
  }
}

